<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>drone-project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63C0FB5E25821AE0002D9D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C0FB7425821AE4002D9D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C0FB7F25821AE4002D9D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
